div {
    display: inline-block;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: aliceblue;
    margin: 0px;
    font-weight: bolder;
}

#day-waters{
    background-image: linear-gradient(#223571, #311e65);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 1;
    position: absolute;
}
#night-waters{
    background-image: linear-gradient(#1f2b59, #2a1e53);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    z-index: -2;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}

