<div class="slide-pane" ng-class="$ctrl.getArrowClasses()">
    <div class="arrow arrow-left">
        <slide-pane-button ng-if="$ctrl.scrollModel.canScrollLeft"
            class="left-arrow"
            src="/images/student_portal/arrow.svg"
            on-change="$ctrl.scrollEvent(type, -1)">
        </slide-pane-button>
    </div>
    <span class="slide-pane-viewport" ng-style="{width: $ctrl.scrollModel.config.viewportWidth }">
        <span class="slide-pane-content" ng-style="{ left: $ctrl.scrollModel.displayOffset }" ng-transclude></span>
    </span>
    <div class="arrow arrow-right">
        <slide-pane-button ng-if="$ctrl.scrollModel.canScrollRight"
            class="right-arrow"
            src="/images/student_portal/arrow.svg"
            on-change="$ctrl.scrollEvent(type, 1)">
        </slide-pane-button>
    </div>
</div>