<div class="worksheet_header js-worksheetHeader">
    <instructions instructions-text="$ctrl.questionData.instructions"
                  instructions-media="$ctrl.questionData.instructions_media"></instructions>
</div>
<div class="worksheet worksheet-causeEffect worksheet-transparent js-worksheet">
    <div class="answerBankContainer h-layout js-answerBank">
        <div class="card-deck-container answerBank">
            <div ng-repeat="choice in $ctrl.dragAndDrop.answerBank"
                 drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank" dropped="$ctrl.dragAndDrop.droppedItems"
                 item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                 class="draggable answerWrap ui-draggable ui-draggable-handle ng-scope ng-isolate-scope"
                 isDraggable="{{$ctrl.getIsDraggable()}}"
                 ng-class="{'ui-draggable-disabled': !$ctrl.getIsDraggable()}"
                 data-answerid="{{choice.answer_id}}"
                 ng-show="!choice.isHidden"
                 index="{{$index}}"
            >
                <div class="answer">
                    <video-player class="media_video" src="choice.answer_media.videoPath"></video-player>
                    <div class="media_image" ng-if="choice.answer_media.imagePath"><img draggable="false"
                                                                                        ng-src="{{choice.answer_media.imagePath}}">
                    </div>
                    <div class="media_text" ng-if="choice.answer" ng-bind-html="choice.answer"></div>
                    <div class="media_audio" ng-if="choice.answer_media.audioPath">
                        <div class="audioPlayer media_audio">
                            <audio-player src="choice.answer_media.audioPath"></audio-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chartContainer chartContainer-causeEffect h-layout">
        <div class="ce-charts-holder causeEffect_chart js-chart">
            <div ng-repeat="chart in $ctrl.charts track by $index" class="chart-container causeEffect_chartItem">
                <div ng-repeat="cause in chart.causes.answers track by $index"
                     drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank" dropped="$ctrl.dragAndDrop.droppedItems"
                     item="cause" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                     class="column left causeEffect_chartColumn">
                    <div class="target-holder causeEffect_targetContainer">
                        <div class="js-title causeEffect_targetTitle">{{chart.causes.displayName}}</div>
                        <div class="drop-target answerTarget ui-droppable"
                             ng-class="{'is-prepopulated': cause.item.prepopulate,
                                    'dropped': $ctrl.getIsDropped(cause.item),
                                    'correct': $ctrl.getIsCorrect(cause.item),
                                    'incorrect': $ctrl.getIsIncorrect(cause.item)
                                    }"
                             data-dragtarget="{{chart.causes.dragTarget}}"
                             data-target="{{chart.causes.dragTarget}}"
                             data-answerid="{{cause.item.answer_id}}"
                             data-type="statement">
                            <div ng-if="cause.item.answer" draggable="false" class="answer">
                                <video-player class="media_video"
                                              src="cause.item.answer_media.videoPath"></video-player>
                                <div class="media_image" ng-if="cause.item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{cause.item.answer_media.imagePath}}">
                                </div>
                                <div class="media_text" ng-if="cause.item.answer"
                                     ng-bind-html="cause.item.answer"></div>
                                <div class="media_audio" ng-if="cause.item.answer_media.audioPath">
                                    <audio-player src="cause.item.answer_media.audioPath"></audio-player>
                                </div>
                                <div ng-if="$ctrl.getIsRemovable(cause.item)"
                                     ng-click="$ctrl.removeDroppedItem(cause.item, chart.causes.dragTarget - 1)"
                                     class="closeBut js-clickable"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column center causeEffect_chartColumn">
                    <div ng-repeat="effect in chart.effects.answers track by $index"
                         drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                         dropped="$ctrl.dragAndDrop.droppedItems"
                         item="effect" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                         class="target-holder causeEffect_targetContainer">
                        <div class="js-title causeEffect_targetTitle">{{chart.effects.displayName}}</div>
                        <div class="drop-target answerTarget ui-droppable"
                             ng-class="{'is-prepopulated': effect.item.prepopulate,
                                    'dropped': $ctrl.getIsDropped(effect.item),
                                    'correct': $ctrl.getIsCorrect(effect.item),
                                    'incorrect': $ctrl.getIsIncorrect(effect.item)
                                    }"
                             data-dragtarget="{{chart.effects.dragTarget}}"
                             data-index_in_target="{{$index}}"
                             data-target="{{chart.effects.dragTarget}}_{{$index}}"
                             data-answerid="{{effect.item.answer_id}}"
                             data-type="effect">
                            <div ng-if="effect.item.answer" draggable="false" class="answer">
                                <video-player class="media_video"
                                              src="effect.item.answer_media.videoPath"></video-player>
                                <div class="media_image" ng-if="effect.item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{effect.item.answer_media.imagePath}}">
                                </div>
                                <div class="media_text" ng-if="effect.item.answer"
                                     ng-bind-html="effect.item.answer"></div>
                                <div class="media_audio" ng-if="effect.item.answer_media.audioPath">
                                    <audio-player src="effect.item.answer_media.audioPath"></audio-player>
                                </div>
                                <div ng-if="$ctrl.getIsRemovable(effect.item)"
                                     ng-click="$ctrl.removeDroppedItem(effect.item, chart.effects.dragTarget - 1)"
                                     class="closeBut js-clickable"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right causeEffect_chartColumn causeEffect_chartColumn-response">
                    <div ng-repeat="response in chart.response.answers track by $index"
                         drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                         dropped="$ctrl.dragAndDrop.droppedItems"
                         item="response" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                         class="target-holder causeEffect_targetContainer">
                        <div class="js-title causeEffect_targetTitle">{{chart.response.displayName}}</div>
                        <div class="drop-target answerTarget answerTarget-response ui-droppable"
                             ng-class="{'is-prepopulated': response.item.prepopulate,
                                    'dropped': $ctrl.getIsDropped(response.item),
                                    'correct': $ctrl.getIsCorrect(response.item),
                                    'incorrect': $ctrl.getIsIncorrect(response.item)
                                    }"
                             data-dragtarget="{{chart.response.dragTarget}}"
                             data-target="{{chart.response.dragTarget}}"
                             data-answerid="{{response.item.answer_id}}"
                             data-type="response">
                            <div ng-if="response.item.answer" draggable="false" class="answer">
                                <video-player class="media_video"
                                              src="response.item.answer_media.videoPath"></video-player>
                                <div class="media_image" ng-if="response.item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{response.item.answer_media.imagePath}}">
                                </div>
                                <div class="media_text" ng-if="response.item.answer"
                                     ng-bind-html="response.item.answer"></div>
                                <div class="media_audio" ng-if="response.item.answer_media.audioPath">
                                    <audio-player src="response.item.answer_media.audioPath"></audio-player>
                                </div>
                                <div ng-if="$ctrl.getIsRemovable(response.item)"
                                     ng-click="$ctrl.removeDroppedItem(response.item, chart.response.dragTarget - 1)"
                                     class="closeBut js-clickable"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="true"></robot-completion-popover>
