<div class="worksheet_header js-worksheetHeader">
    <instructions instructions-text="$ctrl.questionData.instructions"
    instructions-media="$ctrl.questionData.instructions_media"></instructions>
</div>
<div class="worksheet worksheet-dragReplace worksheet-transparent js-worksheet"
    ng-class="{'worksheet-dragReplace-grid': $ctrl.mode === $ctrl.GRID, 'worksheet-dragReplace-list': $ctrl.mode === 'list'}">
    <div class="chartContainer h-layout">
        <div class="dragReplace_chart js-chart">
            <div class="js-answers-container-mode ui-sortable"
            ng-class="{'js-answers-container-grid': $ctrl.mode === $ctrl.GRID, 'js-answers-container-list': $ctrl.mode === 'list'}">
                <drag-sortable-list drag-items="$ctrl.dragAndReplace.items" template="dragAndReplace">
                    <div drag-and-replace
                        ng-repeat="choice in $ctrl.dragAndReplace.items track by choice.answer_id"
                        class="draggable answerWrap js-draggable js-answer textStyle ui-sortable-handle"
                        isDraggable="{{$ctrl.getIsDraggable() && !choice.prepopulate && !choice.is_correct}}"
                        ng-class="{'js-non-draggable': !$ctrl.getIsDraggable() || choice.prepopulate || choice.is_correct,
                                   'is-prepopulated': choice.prepopulate,
                                   'correct': $ctrl.getIsCorrect(choice),
                                   'incorrect': $ctrl.getIsIncorrect(choice)
                                   }"
                        data-answerid="{{choice.answer_id}}"
                        data-dragtarget="{{$index+1}}"
                    >
                        <video-player class="media_video" src="choice.answer_media.videoPath"></video-player>
                        <div class="media_image" ng-if="choice.answer_media.imagePath">
                            <img draggable="false" src="{{choice.answer_media.imagePath}}"/>
                        </div>
                        <div class="media_textContainer" ng-if="choice.answer">
                            <div class="media_audio" ng-if="choice.answer_media.audioPath">
                                <span class="audioPlayer">
                                    <audio-player src="choice.answer_media.audioPath"></audio-player>
                                </span>
                            </div>
                            <div class="media_text" ng-if="choice.answer" ng-bind-html="choice.answer"></div>
                        </div>
                        <span ng-if="$ctrl.getIsDraggable() && !choice.prepopulate && !choice.is_correct"
                            class="dragReplace_handle">
                            <span class="icon icon-option-vertical"></span>
                        </span>
                    </div>
                    <drag-replace-placeholder mode="$ctrl.mode" template="dragAndReplace" style="display:none"></drag-replace-placeholder>
                </drag-sortable-list>
            </div>
        </div>
    </div>
</div>
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="false"></robot-completion-popover>
