<instructions instructions-text="$ctrl.questionData.instructions"
    instructions-media="$ctrl.questionData.instructions_media"></instructions>
<div class="worksheet worksheet-highlightCategory worksheet-transparent js-worksheet">
    <div class="worksheet_header js-worksheetHeader"></div>
    <div class="answerBankContainer h-layout js-answerBank js-bank-container">
        <div class="highlightCategory_answerBank">
            <button id="{{choice.display}}"
                class="highlightCategory_option js-select-button"
                ng-class="{'selectable-disabled': !$ctrl.getIsSelectable(),
                           'is-selected': $ctrl.determineChoiceSelected(choice.display, $index) }"
                ng-repeat="choice in $ctrl.answerBank track by $index"
                ng-show="!choice.isHidden"
                ng-click="$ctrl.changeDisplay(choice.display, $index)"
                item="choice" autoregenerate="$ctrl.autoRegenerate"
                isSelectable="{{$ctrl.getIsSelectable()}}"
                data-answerid="{{choice.answer_id}}"
                index="{{$index}}"
            >
                <span class="js-answer-bank dummy-highlight display-{{choice.display}} left-{{choice.display}} right-{{choice.display}}" ng-if="!$ctrl.isSuperscript(choice.display)">
                    {{choice.key_name}}
                </span>
                <span class="js-answer-bank dummy-highlight display-{{choice.display}}" ng-if="$ctrl.isSuperscript(choice.display)">
                    <sup>{{choice.display_order}}</sup>{{choice.key_name}}
                </span>
            </button>
        </div>
    </div>
    <div class="chartContainer chartContainer-highlightCategory h-layout">
        <div class="highlightCategory_chart js-chart">
            <div class="highlightCategory_passage js-text-blocks" ng-if="$ctrl.questionData.passage.text">
                <div class="highlightCategory_passageTitle js-passage-title" ng-if="$ctrl.questionData.passage.title" ng-bind-html="$ctrl.questionData.passage.title"></div>
                <span ng-repeat="fragment in $ctrl.selectCategoryMarkup.passage track by $index"><span ng-bind-html="fragment" select-highlight item="$ctrl.selectCategoryMarkup.choiceDisplay" display-index="$ctrl.getDisplayIndex()" is-passage="$ctrl.selectCategoryMarkup.isPassage" division="$ctrl.selectCategoryMarkup.division" read-only="$ctrl.getReadOnly()" is-attempt-two="$ctrl.isAttemptTwo"></span></span>
            </div>

            <div ng-repeat="sentenceObj in $ctrl.sentences track by $index" ng-init="index = $index">
                <video-player class="media_video" src="sentenceObj.sentence.sentence_media.videoPath"></video-player>
                <div class="media_image" ng-if="sentenceObj.sentence.sentence_media.imagePath">
                    <img draggable="false" ng-src="{{sentenceObj.sentence.sentence_media.imagePath}}">
                </div>
                <div class="highlightCategory_sentence js-highlightCategory_sentence" sentence-id="{{sentenceObj.sentence_id}}">
                    <div class="audioPlayer media_audio" ng-if="sentenceObj.sentence.sentence_media.audioPath">
                        <audio-player src="sentenceObj.sentence.sentence_media.audioPath"></audio-player>
                    </div><span ng-repeat="fragment in sentenceObj.sentence track by $index" ng-class="{'correct': $ctrl.getIsCorrect(), 'incorrect':$ctrl.getIsIncorrect()}"><span ng-bind-html="fragment" select-highlight item="$ctrl.selectCategoryMarkup.choiceDisplay" display-index="$ctrl.getDisplayIndex()" is-passage="$ctrl.selectCategoryMarkup.isPassage" division="$ctrl.selectCategoryMarkup.division" read-only="$ctrl.getReadOnly()" is-attempt-two="$ctrl.isAttemptTwo"></span></span>
                </div><!-- /.highlightCategory_sentence -->
            </div>
        </div><!-- /.highlightCategory_chart -->
    </div><!-- /.chartContainer -->
</div><!-- /.worksheet -->
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="true"></robot-completion-popover>
