<div class="worksheet_header js-worksheetHeader">
    <instructions instructions-text="$ctrl.questionData.instructions"
                  instructions-media="$ctrl.questionData.instructions_media"></instructions>
</div>
<div class="worksheet worksheet-imageLabeling worksheet-transparent js-worksheet">
    <div class="answerBankContainer h-layout js-answerBank">
        <div class="js-bank-container answerBank">
            <div ng-repeat="choice in $ctrl.dragAndDrop.answerBank"
                 drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank" dropped="$ctrl.dragAndDrop.droppedItems"
                 item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                 class="draggable answerWrap ui-draggable ui-draggable-handle"
                 isDraggable="{{$ctrl.getIsDraggable()}}"
                 ng-class="{'ui-draggable-disabled': !$ctrl.getIsDraggable()}"
                 data-answerid="{{choice.answer_id}}"
                 ng-show="!choice.isHidden"
                 index="{{$index}}"
                 style="position: relative;">
                <div class="draggable-answer-label answer">
                    <video-player class="media_video" src="choice.answer_media.videoPath"></video-player>
                    <div class="media_image" ng-if="choice.answer_media.imagePath"><img draggable="false"
                                                                                        ng-src="{{choice.answer_media.imagePath}}">
                    </div>
                    <div class="audioPlayer media_audio" ng-if="choice.answer_media.audioPath">
                        <audio-player src="choice.answer_media.audioPath"></audio-player>
                    </div>
                    <div class="media_text" ng-if="choice.answer" ng-bind-html="choice.answer"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="chartContainer h-layout">
        <div class="imageLabeling_chart js-targetContainer js-chart">
            <div id="canvas-wrap">
                <div id="question-text-image" class="question-text-image">
                    <img draggable="false" class="js-question-text-image"
                         ng-src="{{$ctrl.questionData.question_media.imagePath}}">
                </div>
                <div id="overlay">
                    <div ng-repeat="choice in $ctrl.dragAndDrop.droppedItems track by $index" ng-init="index = $index"
                         class="drag-target-area"
                         style="position: absolute;"
                         ng-style="{'left': $ctrl.getDragTargetDimension(choice, index, 'left'),
                                    'top': $ctrl.getDragTargetDimension(choice, index, 'top')}">
                        <div ng-repeat="answerInTarget in choice.answers">
                            <div drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                                 dropped="$ctrl.dragAndDrop.droppedItems"
                                 item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                                 class="drop-target answerTarget ui-droppable ui-droppable-disabled"
                                 drag_target="{{index+1}}"
                                 data-dragtarget="{{index+1}}"
                                 data-answerid="{{answerInTarget.item.answer_id}}"
                                 ng-class="{'is-prepopulated': answerInTarget.item.prepopulate,
                                    'dropped': $ctrl.getIsDropped(answerInTarget.item),
                                    'correct': $ctrl.getIsCorrect(answerInTarget.item),
                                    'incorrect': $ctrl.getIsIncorrect(answerInTarget.item)
                                    }"
                                 ng-style="{'height': $ctrl.getDragTargetDimension(choice, index, 'height'),
                                            'width':  $ctrl.getDragTargetDimension(choice, index, 'width')}"
                                 ng-show="$ctrl.dimensionsInited"
                                 style="min-width: 0px; min-height: 0px;">
                                <div ng-if="answerInTarget.item.answer" draggable="false"
                                     class="draggable-answer-label answer">
                                    <video-player class="media_video"
                                                  src="answerInTarget.item.answer_media.videoPath"></video-player>
                                    <div class="media_image" ng-if="answerInTarget.item.answer_media.imagePath"><img
                                                draggable="false"
                                                ng-src="{{answerInTarget.item.answer_media.imagePath}}">
                                    </div>
                                    <div class="media_text" ng-if="answerInTarget.item.answer"
                                         ng-bind-html="answerInTarget.item.answer"></div>
                                    <div class="media_audio" ng-if="answerInTarget.item.answer_media.audioPath">
                                        <audio-player src="answerInTarget.answer_media.audioPath"></audio-player>
                                    </div>
                                    <div ng-if="$ctrl.getIsRemovable(answerInTarget.item)"
                                         ng-click="$ctrl.removeDroppedItem(answerInTarget.item, index)"
                                         class="closeBut js-clickable"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="true"></robot-completion-popover>
