<div class="worksheet_header js-worksheetHeader">
    <instructions instructions-text="$ctrl.questionData.instructions"
              instructions-media="$ctrl.questionData.instructions_media"></instructions>
</div>
<div class="worksheet worksheet-mainIdea worksheet-transparent js-worksheet">
    <div class="answerBankContainer h-layout js-answerBank">
        <div class="card-deck-container answerBank">
            <div ng-repeat="choice in $ctrl.dragAndDrop.answerBank"
                 drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank" dropped="$ctrl.dragAndDrop.droppedItems"
                 item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                 class="draggable answerWrap ui-draggable ui-draggable-handle ng-scope ng-isolate-scope"
                 isDraggable="{{$ctrl.getIsDraggable()}}"
                 ng-class="{'ui-draggable-disabled': !$ctrl.getIsDraggable()}"
                 data-answerid="{{choice.answer_id}}"
                 ng-show="!choice.isHidden"
                 index="{{$index}}"
                 data-chart_id="{{$ctrl.questionData.chart_id}}"
            >
                <div class="answer">
                    <video-player class="media_video" src="choice.answer_media.videoPath"></video-player>
                    <div class="media_image" ng-if="choice.answer_media.imagePath"><img draggable="false"
                                                                                        ng-src="{{choice.answer_media.imagePath}}">
                    </div>
                    <div class="media_text" ng-if="choice.answer" ng-bind-html="choice.answer"></div>
                    <div class="media_audio" ng-if="choice.answer_media.audioPath">
                        <div class="audioPlayer media_audio">
                            <audio-player src="choice.answer_media.audioPath"></audio-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chartContainer h-layout">
        <div class="answers-container-mode worksheet_chart js-chart">
<!-- Ideas -->
            <div ng-repeat="ideaDetail in $ctrl.ideaDetailArray" class="answer-area mainIdea_chartItem"
                 ng-init="idea = ideaDetail.idea">
                <div class="mainIdea_mainIdeaContainer"
                     ng-class="{'quarters': ideaDetail.details.answers.length > 3,
                                'thirds': ideaDetail.details.answers.length == 3,
                                 'single': ideaDetail.details.answers.length < 2}"
                     data-target="{{$index+1}}">
                    <div class="answer-main-idea-table mainIdea_targetContainer">
                        <div class="mainIdea_targetTitle">{{$ctrl.parentBoxName}} <span ng-if="$ctrl.numIdeas > 1">{{$index+1}}</span></div>
                        <div drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                             dropped="$ctrl.dragAndDrop.droppedItems"
                             item="idea" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                             class="drop-target drop-target-box answerTarget answerTarget-mainIdea ui-droppable"
                             ng-class="{'is-prepopulated': idea.answers[0].item.prepopulate,
                                        'dropped': $ctrl.getIsDropped(idea.answers[0].item),
                                        'correct': $ctrl.getIsCorrect(idea.answers[0].item),
                                        'incorrect': $ctrl.getIsIncorrect(idea.answers[0].item)
                                       }"
                             data-dragtarget="{{idea.dragTarget}}"
                             data-target="{{idea.dragTarget}}"
                             data-answerid="{{idea.answers[0].item.answer_id}}"
                        >
                            <div ng-if="idea.answers[0].item.answer" draggable="false" class="answer">
                                <video-player class="media_video"
                                              src="idea[0].answers[0].item.answer_media.videoPath"></video-player>
                                <div class="media_image" ng-if="idea.answers[0].item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{idea.answers[0].item.answer_media.imagePath}}">
                                </div>
                                <div class="media_text" ng-if="idea.answers[0].item.answer"
                                     ng-bind-html="idea.answers[0].item.answer"></div>
                                <div class="media_audio" ng-if="idea.answers[0].item.answer_media.audioPath">
                                    <audio-player src="idea.answers[0].item.answer_media.audioPath"></audio-player>
                                </div>
                                <div ng-if="$ctrl.getIsRemovable(idea.answers[0].item)"
                                     ng-click="$ctrl.removeDroppedItem(idea.answers[0].item, idea.dragTarget - 1)"
                                     class="closeBut js-clickable"></div>

                            </div>
                        </div>
                    </div>
                </div>
<!-- Details -->
                <div ng-repeat="detail in idea.details.answers track by $index" class="mainIdea_detailContainer"
                     ng-class="{'quarters': idea.details.answers.length > 3,
                                'thirds': idea.details.answers.length == 3,
                                 'single': idea.details.answers.length < 2}"
                     data-target="{{idea.details.dragTarget}}">
                    <div class="answer-detail-table mainIdea_targetContainer">
                        <div class="mainIdea_targetTitle">{{$ctrl.childBoxName}}</div>
                        <div drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                             dropped="$ctrl.dragAndDrop.droppedItems"
                             item="detail" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                             class="drop-target drop-target-box answerTarget answerTarget-mainIdea ui-droppable"
                             ng-class="{'is-prepopulated': detail.item.prepopulate,
                                        'dropped': $ctrl.getIsDropped(detail.item),
                                        'correct': $ctrl.getIsCorrect(detail.item),
                                        'incorrect': $ctrl.getIsIncorrect(detail.item)
                                       }"
                             data-dragtarget="{{idea.details.dragTarget}}"
                             data-target="{{idea.details.dragTarget}}_{{$index}}"
                             data-answerid="{{detail.item.answer_id}}"
                             data-index_in_target="{{$index}}"
                        >
                            <div ng-if="detail.item.answer" draggable="false" class="answer">
                                <video-player class="media_video"
                                              src="detail.item.answer_media.videoPath"></video-player>
                                <div class="media_image" ng-if="detail.item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{detail.item.answer_media.imagePath}}">
                                </div>
                                <div class="media_text" ng-if="detail.item.answer"
                                     ng-bind-html="detail.item.answer"></div>
                                <div class="media_audio" ng-if="detail.item.answer_media.audioPath">
                                    <audio-player src="detail.item.answer_media.audioPath"></audio-player>
                                </div>
                                <div ng-if="$ctrl.getIsRemovable(detail.item)"
                                     ng-click="$ctrl.removeDroppedItem(detail.item, idea.details.dragTarget - 1)"
                                     class="closeBut js-clickable"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="true"></robot-completion-popover>
