<div class="no-bg worksheet worksheet-dragAndDrop worksheet-transparent js-worksheet worksheet-dragAndDrop-{{$ctrl.mode}}">

    <div class="worksheet_header js-worksheetHeader">
        <div class="dragAndDrop_teacherMessage"
            ng-if="$ctrl.skipAutoGrade && $ctrl.isPreview"
        >
            <div class="h-layout">
                <span class="icon icon-alert2" style="color: red;"></span>
                This activity has no right or wrong answers. Student answers will be reported but not scored.
            </div>
        </div>
        <instructions instructions-text="$ctrl.questionData.instructions"
            instructions-media="$ctrl.questionData.instructions_media"></instructions>
    </div>

    <div id="hint" align="right"></div>
    <div class="answerBankContainer h-layout js-answerBank">
        <div class="js-bank-container answerBank"
            data-chart_id="{{$ctrl.answerBankChartId}}">
            <div ng-repeat="choice in $ctrl.dragAndDrop.answerBank"
                drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                dropped="$ctrl.dragAndDrop.droppedItems"
                item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                class="draggable answerWrap ui-draggable ui-draggable-handle"
                isDraggable="{{$ctrl.getIsDraggable()}}"
                ng-class="{'ui-draggable-disabled': !$ctrl.getIsDraggable()}"
                data-answerid="{{choice.answer_id}}"
                ng-show="!choice.isHidden"
                index="{{$index}}"
            >
                <div class="answer">
                    <video-player class="media_video" src="choice.answer_media.videoPath"></video-player>
                    <div class="media_image" ng-if="choice.answer_media.imagePath"><img draggable="false"
                            ng-src="{{choice.answer_media.imagePath}}">
                    </div>
                    <div class="media_audio" ng-if="choice.answer_media.audioPath">
                        <div class="audioPlayer">
                            <audio-player src="choice.answer_media.audioPath"></audio-player>
                        </div>
                    </div>
                    <div class="media_text" ng-if="choice.answer" ng-bind-html="choice.answer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="chartContainer h-layout">
        <div class="dragAndDrop_chart js-chart">
            <!-- Table Mode -->
            <div ng-if="$ctrl.mode === 'table'" class="targets-table dragAndDrop_targetsTable">
                <div ng-if="!($ctrl.headings[0].label === '')"
                    class="dragAndDrop_chartRow dragAndDrop_chartRow-titles">
                    <div ng-repeat="heading in $ctrl.headings" class="dragAndDrop_chartColumn dragAndDrop_chartColumn-title">
                        <video-player class="media_video" src="heading.media.videoPath"></video-player>
                        <div class="media_image" ng-if="heading.media.imagePath"><img draggable="false"
                                ng-src="{{heading.media.imagePath}}">
                        </div>
                        <div class="media_audio" ng-if="heading.media.audioPath">
                            <div class="audioPlayer">
                                <audio-player src="heading.media.audioPath"></audio-player>
                            </div>
                        </div>
                        <div class="media_text" ng-if="heading.label !== ''"
                            ng-bind-html="heading.label"></div>
                    </div>
                </div>
                <div ng-repeat="row in $ctrl.rows" class="dragAndDrop_chartRow">
                    <div ng-repeat="col in row" class="dragAndDrop_chartColumn">
                        <div drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                            dropped="$ctrl.dragAndDrop.droppedItems"
                            item="col.answers[0].item"
                            autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                            class="drop-target dragAndDrop_answerTarget ui-droppable"
                            ng-class="{'is-prepopulated': col.answers[0].item.prepopulate,
                                    'dropped': $ctrl.getIsDropped(col.answers[0].item),
                                    'correct': $ctrl.getIsCorrect(col.answers[0].item),
                                    'incorrect': $ctrl.getIsIncorrect(col.answers[0].item)
                                    }"
                            data-dragtarget="{{col.index + 1}}"
                            data-answerid="{{col.answers[0].item.answer_id}}"
                        >
                            <span ng-if="col.answers[0].item.answer"
                                class="draggable static answerWrap dragAndDrop_answerContainer">
                                <div draggable="false" class="answer dropped">
                                    <video-player class="media_video"
                                        src="col.answers[0].item.answer_media.videoPath"></video-player>
                                    <div class="media_image" ng-if="col.answers[0].item.answer_media.imagePath"><img
                                            draggable="false"
                                            ng-src="{{col.answers[0].item.answer_media.imagePath}}">
                                    </div>
                                    <div class="media_audio" ng-if="col.answers[0].item.answer_media.audioPath">
                                        <audio-player src="col.answers[0].item.answer_media.audioPath"></audio-player>
                                    </div>
                                    <div class="media_text" ng-if="col.answers[0].item.answer"
                                        ng-bind-html="col.answers[0].item.answer"></div>
                                </div>
                            </span>
                            <div ng-if="$ctrl.getIsRemovable(col.answers[0].item)"
                                ng-click="$ctrl.removeDroppedItem(col.answers[0].item, col.index, false)"
                                class="closeBut js-clickable"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container Mode -->
            <div ng-if="$ctrl.mode === 'container'" class="targets-table dragAndDrop_targetsTable">
                <div class="dragAndDrop_chartRow">
                    <div ng-repeat="choice in $ctrl.dragAndDrop.droppedItems"
                        class="dragAndDrop_chartColumn"
                        ng-init="dragTarget = $index + 1">
                        <div class="drop-target dragAndDrop_answerTarget ui-droppable addToContainer"
                            data-dragtarget="{{dragTarget}}"
                            data-index_in_target="{{$ctrl.getNumItemsInDragTarget(dragTarget)}}"
                        >
                            <div class="dragAndDrop_chartColumn_title">
                                <video-player class="media_video" src="choice.col.media.videoPath"></video-player>
                                <div class="media_image" ng-if="choice.col.media.imagePath"><img draggable="false"
                                        ng-src="{{choice.col.media.imagePath}}">
                                </div>
                                <div class="media_audio" ng-if="choice.col.media.audioPath">
                                    <div class="audioPlayer media_audio">
                                        <audio-player src="choice.col.media.audioPath"></audio-player>
                                    </div>
                                </div>
                                <div class="media_text" ng-if="choice.col.label" ng-bind-html="choice.col.label"></div>
                            </div>
                            <div ng-repeat="answer in choice.answers track by $index">
                                <div drag-and-drop answerbank="$ctrl.dragAndDrop.answerBank"
                                     dropped="$ctrl.dragAndDrop.droppedItems"
                                     item="choice" autoregenerate="$ctrl.dragAndDrop.autoRegenerate"
                                     class="ui-droppable"
                                     ng-class="{'is-prepopulated': answer.item.prepopulate,
                                            'dropped': $ctrl.getIsDropped(answer.item),
                                            'correct': $ctrl.getIsCorrect(answer.item),
                                            'incorrect': $ctrl.getIsIncorrect(answer.item)
                                            }">
                                    <span ng-if="answer.item.answer || $ctrl.hasTargetBorder || answer.item.placeholder || $ctrl.skipAutoGrade"
                                          data-answerid="{{answer.item.answer_id}}"
                                          class="dragAndDrop_answerContainer"
                                          ng-class="{'dragAndDrop_answerContainer-placeholder js-container-show-target-placeholder' : ($ctrl.hasTargetBorder || answer.item.placeholder) && !answer.item.answer,
                                                     'draggable static dropped' : !($ctrl.hasTargetBorder || answer.item.placeholder)
                                                    }"
                                          data-dragtarget="{{dragTarget}}"
                                          data-index_in_target="{{$ctrl.getNumItemsInDragTarget(dragTarget)}}"
                                    >
                                        <div ng-if="answer.item.answer" draggable="false" class="answer dropped">
                                            <video-player class="media_video"
                                                          src="answer.item.answer_media.videoPath"></video-player>
                                            <div class="media_image" ng-if="answer.item.answer_media.imagePath"><img
                                                        draggable="false"
                                                        ng-src="{{answer.item.answer_media.imagePath}}">
                                            </div>
                                            <div class="media_audio" ng-if="answer.item.answer_media.audioPath">
                                                <audio-player src="answer.item.answer_media.audioPath"></audio-player>
                                            </div>
                                            <div class="media_text" ng-if="answer.item.answer"
                                                 ng-bind-html="answer.item.answer"></div>
                                        </div>
                                        <div ng-if="$ctrl.getIsRemovable(answer.item)"
                                             ng-click="$ctrl.removeDroppedItem(answer.item, choice.index, true)"
                                             class="closeBut js-clickable"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<robot-completion-popover ng-if="!$ctrl.isPreview" template-ctrl="$ctrl" requires-at-least-one-student-answer="!$ctrl.skipAutoGrade"></robot-completion-popover>
