<popover on-inited="$ctrl.setPopover(ctrl)">
    <popover-target>
        <div class="footer">
            <a class="photoCredits btn-photocredit photoCreditLink js-clickable" ng-click="$ctrl.openPopover()">
                Photo Credits
            </a>
        </div>
    </popover-target>

    <popover-content>
        <div class="js-photoCreditView photoCredit js-clickable" ng-click="$ctrl.clickClosePopover($event)">
            <div class="photoCredit_header">
                <button class="btn btn-close closeBtn js-clickable" ng-click="$ctrl.closePopover()">
                    <span class="icon icon-chevron-left icon-left js-clickable"></span>
                    Back
                </button>
            </div>
            <div class="photoCredit_content js-content" ng-bind-html="$ctrl.credits">
                <h3 class="photoCredit_title js-content">Photo Credits</h3>
            </div>
        </div>
    </popover-content>
</popover>
