<div class="h-layout">
    <button class="worksheetBtn btn-confirm js-clickable"
            ng-if="!$ctrl.templateCtrl.isAttemptTwo && !$ctrl.templateCtrl.isPerfectScore"
            ng-disabled="$ctrl.requiresAtLeastOneStudentAnswer && !$ctrl.studentHasAtLeastOneAnswer() || $ctrl.shouldDisableForSkipAutoGrade($ctrl.templateCtrl.skipAutoGrade)"
            ng-click="$ctrl.clickCheckAnswers()">
        <div ng-if="!$ctrl.templateCtrl.skipAutoGrade && !$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade">Check Answers</div>
        <div ng-if="$ctrl.templateCtrl.skipAutoGrade && !$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade">Done</div>
        <div ng-if="$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade && !$ctrl.templateCtrl.isLastQuestion">Next Activity</div>
        <div ng-if="$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade && $ctrl.templateCtrl.isLastQuestion">Done</div>
    </button>
</div>
<div ng-if="$ctrl.clickedCheckAnswers && $ctrl.scoreIsEvaluated">
    <div ng-if="$ctrl.templateCtrl.isPerfectScore" class="rewardRobot worksheetComplete worksheetComplete-perfect">
        <div class="worksheetComplete_content">
            <div class="evaluateMessage" ng-if="!$ctrl.templateCtrl.skipAutoGrade && !$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade">
                You have everything correct!
            </div>
            <img ng-if="!$ctrl.templateCtrl.skipAutoGrade && !$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade"
                src="/images/robot-perfect-noStars.png" alt="Happy robot saying awesome" />
            <img ng-if="$ctrl.templateCtrl.skipAutoGrade && !$ctrl.templateCtrl.isTemplateWithNoAnswersToGrade"
                src="/images/robot-passed-noStars.png" alt="Happy robot saying woohoo" />
            <a>
                <button ng-if="$ctrl.templateCtrl.isLastQuestion"
                        ng-click="$ctrl.clickDone()"
                        class="worksheetBtn js-clickable">
                    Done
                </button>
            </a>
            <a>
                <button ng-if="!$ctrl.templateCtrl.isLastQuestion"
                        ng-click="$ctrl.nextQuestion()"
                        class="worksheetBtn js-clickable">
                    Next Activity
                </button>
            </a>
        </div><!-- .worksheetComplete_content -->
    </div><!-- .worksheetComplete -->
    <div ng-if="!$ctrl.templateCtrl.isPerfectScore" class="rewardRobot worksheetComplete worksheetComplete-fail">
        <div class="worksheetComplete_content">
            <div class="evaluateMessage">You missed something. <span ng-if="$ctrl.templateCtrl.isAttemptTwo">Let's review.</span></div>
            <img src="/images/robot-fail.png" alt="Robot saying nice try">
            <button ng-if="!$ctrl.templateCtrl.isAttemptTwo" class="worksheetBtn worksheetBtn-confirm js-clickable"
                    ng-click="$ctrl.closePopover()">
                Try Again!
            </button>
            <button ng-if="$ctrl.templateCtrl.isAttemptTwo" class="worksheetBtn worksheetBtn-showAnswers js-clickable"
                    ng-click="$ctrl.closePopover()">
                See Answers
            </button>
        </div><!-- .worksheetComplete_content -->
    </div><!-- .worksheetComplete -->
</div>

<div class="h-layout">
    <button ng-show="!$ctrl.templateCtrl.isLastQuestion && ($ctrl.templateCtrl.isPerfectScore || $ctrl.templateCtrl.isAttemptTwo)" ng-click="$ctrl.nextQuestion()" class="worksheetBtn nextActivity js-clickable">
        Next Activity
    </button>
    <a><!-- Jenn, question to engineering: is this anchor tag necessary? -->
        <button ng-show="!$ctrl.worksheetAlreadyCompleted() && $ctrl.templateCtrl.isLastQuestion && ($ctrl.templateCtrl.isPerfectScore || $ctrl.templateCtrl.isAttemptTwo)"
                ng-click="$ctrl.clickDone()"
                class="worksheetBtn worksheetBtn-confirm done js-clickable">
            Done
        </button>
    </a>
</div>
