<div class="resource" ng-class="::{'has-title' : $ctrl.resource.showTitle}">
    <div class="resource_image">
        <a href="{{::$ctrl.resource.getCoverActivityUrl()}}" title="{{::$ctrl.resource.title}}" ng-if="$ctrl.resource.resourceId">
            <img ng-src="{{::$ctrl.resource.image.url}}" class="redesignedBookroom_cover"/>
            <span class="resource_level" style="background-color:{{::$ctrl.resource.decoration.shape_background_color}}; border-color:{{::$ctrl.resource.decoration.shape_border_color}}">{{::$ctrl.resource.decoration.shape_text}}</span>
        </a>
        <a ui-sref="pack({categoryId: $ctrl.resource.packId})" title="{{::$ctrl.resource.title}}" ng-if="$ctrl.resource.packId">
            <img ng-src="{{::$ctrl.resource.image.url}}" class="redesignedBookroom_cover"/>
            <span class="resource_level" style="background-color:{{::$ctrl.resource.decoration.shape_background_color}}; border-color:{{::$ctrl.resource.decoration.shape_border_color}}">{{::$ctrl.resource.decoration.shape_text}}</span>
        </a>
    </div>
    <p ng-if="::$ctrl.resource.showTitle">
        {{::$ctrl.resource.title}}
    </p>
    <div class="resource_actions" ng-if="$ctrl.resource.resourceId">
        <div ng-repeat="delivery in $ctrl.resource.deliveries">
            <resource-delivery delivery="delivery"></resource-delivery>
        </div>
    </div>
</div>
