<div ng-if="$ctrl.isOpen()" ng-mouseleave="$ctrl.hoverClose()">
    <!-- Drop shadow -->
    <div class="body-overlay" ng-if="$ctrl.dropShadow" ng-click="$ctrl.close()"></div>

    <!-- Content -->
    <div ng-class="$ctrl.getClass()">
        <!-- Use template for content -->
        <div ng-if="$ctrl.hasTemplate()" ng-include="$ctrl.useTemplate"></div>

        <!-- ng-transcluded content -->
        <div ng-if="!$ctrl.hasTemplate()" ng-class="$ctrl.overrideClass">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>