<!-- code for editing from Assignments page is in edit-reading-assignment.html -->

<div class="body-overlay" ng-click="$ctrl.close()"></div>
<form name="myForm">
    <div class="modalWindow" style="height: 95vh;" ng-keydown="$ctrl.keyDown($event)">

        <div class="modalWindow_header">
            {{$ctrl.title}}
            <span class="notBold xsm">({{$ctrl.resourceCount}} Resource<span  ng-if="$ctrl.resourceCount != 1">s</span>)</span>
        </div>

        <div class="modalWindow_body">
            <button autofocus tabindex="0" class="closeBtn js-first-item" ng-click="$ctrl.close()">&times;</button>

            <div class="step">
                <span class="stepNumber">1</span>

                <!-- create -->
                <span ng-if="!$ctrl.getLocked()" class="stepHeading">Select Activities</span>

                <!-- edit -->
                <span ng-if="$ctrl.getLocked()">
                    <span class="stepHeading marginBT0 valignM">Activities</span>
                    <em class="valignM subtle">Activities cannot be edited</em>
                </span>

                <div class="assignActivities">

                    <span ng-if="$ctrl.canListen && (!$ctrl.getLocked() || $ctrl.listen)">
                        <div class="checkboxCustom" ng-if="!$ctrl.getLocked()" ng-click="$ctrl.markActivityType($ctrl.activityTypeIds.LISTEN, $ctrl.listen);">
                            <input id="listenid" type="checkbox" ng-model="$ctrl.listen" role="checkbox" aria-checked="{{$ctrl.listen ? 'true' : 'false'}}">
                            <label for="listenid">
                                <span class="checkboxCustom_box"></span>
                                <span class="checkboxCustom_label">Listen</span>
                                <span class="icon icon-listenC"></span>
                            </label>
                        </div>
                        <label class="checkboxCustom" ng-if="$ctrl.getLocked()">
                            <span class="checkboxCustom_label">Listen</span>
                            <span class="icon icon-listenC"></span>
                        </label>
                    </span>

                    <span ng-if="$ctrl.canRead && (!$ctrl.getLocked() || $ctrl.read)">
                        <div class="checkboxCustom" ng-if="!$ctrl.getLocked()" ng-click="$ctrl.markActivityType($ctrl.activityTypeIds.READ, $ctrl.read);">
                            <input id="readid" type="checkbox" ng-model="$ctrl.read" role="checkbox" aria-checked="{{$ctrl.read ? 'true' : 'false'}}">
                            <label for="readid">
                                <span class="checkboxCustom_box"></span>
                                <span class="checkboxCustom_label">Read</span>
                                <span class="icon icon-readC"></span>
                            </label>
                        </div>
                        <label class="checkboxCustom" ng-if="$ctrl.getLocked()">
                            <span class="checkboxCustom_label">Read</span>
                            <span class="icon icon-readC"></span>
                        </label>
                    </span>

                    <span ng-if="$ctrl.canQuiz && (!$ctrl.getLocked() || $ctrl.quiz)">
                        <div class="checkboxCustom" ng-if="!$ctrl.getLocked()" ng-click="$ctrl.markActivityType($ctrl.activityTypeIds.QUIZ, $ctrl.quiz);">
                            <input id="quizid" type="checkbox" ng-model="$ctrl.quiz" role="checkbox" aria-checked="{{$ctrl.quiz ? 'true' : 'false'}}">
                            <label for="quizid">
                                <span class="checkboxCustom_box"></span>
                                <span class="checkboxCustom_label">Quiz</span>
                                <span class="icon icon-quizC"></span>
                            </label>
                        </div>
                        <label class="checkboxCustom" ng-if="$ctrl.getLocked()">
                            <span class="checkboxCustom_label">Quiz</span>
                            <span class="icon icon-quizC"></span>
                        </label>
                    </span>

                    <feature-check code="EWORKSHEETS">
                        <enabled>
                            <span ng-if="$ctrl.canWorksheet && (!$ctrl.getLocked() || $ctrl.worksheet)">
                                <div class="checkboxCustom" ng-if="!$ctrl.getLocked()" ng-click="$ctrl.markActivityType($ctrl.activityTypeIds.WORKSHEET, $ctrl.worksheet);">
                                    <input id="worksheetid" type="checkbox" ng-model="$ctrl.worksheet" role="checkbox" aria-checked="{{$ctrl.worksheet ? 'true' : 'false'}}">
                                    <label for="worksheetid">
                                        <span class="checkboxCustom_box"></span>
                                        <span class="checkboxCustom_label">Interactivity</span>
                                        <span class="icon icon-interactiveC"></span>
                                    </label>
                                </div>
                                <label class="checkboxCustom" ng-if="$ctrl.getLocked()">
                                    <span class="checkboxCustom_label">Interactivity</span>
                                    <span class="icon icon-interactiveC"></span>
                                </label>
                            </span>
                        </enabled>
                    </feature-check>

                    <feature-check code="CONSTRUCTED_RESPONSE_TOGGLE">
                        <enabled>
                            <span ng-if="$ctrl.quiz">
                                <laz-checkbox ng-model="$ctrl.constructedResponseEnabled" class="notBold">Include constructed response question for each book quiz</laz-checkbox>
                            </span>
                        </enabled>
                    </feature-check>

                    <div class="clear"></div>
                </div><!-- .assignActivities -->

                <a ng-click="$ctrl.clickedShowDetails()" tabindex="0">
                    {{$ctrl.showDetailsLinkText()}}<span ng-class="$ctrl.showDetailsClass()" class="icon-right"></span>
                </a>
                <ul class="list-bulleted marginTsm" ng-if="$ctrl.showDetails">
                    <li ng-repeat="resourceRecord in $ctrl.getCurrentAssignableResources()">
                        <b>{{resourceRecord.titleText}}</b>
                        <span class="subtle sm" ng-if="resourceRecord.languagename && resourceRecord.languagename!='English'">({{resourceRecord.languagename}})</span>
                        <span class="subtle sm" ng-if="$ctrl.showDetails && resourceRecord.book_level">Level {{resourceRecord.book_level}}</span>
                        <span class="subtle sm">{{$ctrl.qualifierText(resourceRecord)}}</span>
                        <div ng-if="resourceRecord.rtype == 3" ng-repeat="resourceType in resourceRecord.resourceIDs">
                            - {{resourceType.title}}
                        </div>
                    </li>
                </ul>

                <hr class="hr-dashed marginT2 marginB3" />
            </div>

            <div class="step">
                <span class="stepNumber">2</span>
                <h2 class="stepHeading">Choose Students</h2>

                <select-students-by-group></select-students-by-group>
                <br />
                <student-checkbox-list></student-checkbox-list>

                <div class="clear"></div>
                <hr class="hr-dashed marginBT3" />
            </div>

            <div class="step">
                <span class="stepNumber">3</span>
                <h2 class="stepHeading">More Options</h2>

                <div class="marginB">
                    <label for="title-for-students-to-see">
                        <strong>Title</strong>
                        <em>(Your students will see this title.)</em>
                    </label>
                    <input id="title-for-students-to-see" class="input-transparent input-fullWidth" type="text" ng-model="$ctrl.title" size="100" />
                </div>

                <div class="box-form marginB">
                    <label for="message-to-students"><strong>Message To Students</strong></label>
                    <input id="message-to-students" class="input-transparent input-fullWidth" type="text" ng-model="$ctrl.message" size="100" />
                </div>

                <label for="start-date-input"><strong>Due Date</strong></label>
                <input id="start-date-input" class="input-transparent" type="text" ng-model="$ctrl.startDate" ng-value="$ctrl.startDate" jqdatepicker mindate="$ctrl.startDate" />
            </div>
        </div>

        <div class="modalWindow_footer">
            <a class="btn btn-confirm btn-xl floatR" id="assignResourceButton" ng-click="$ctrl.setAssignedResources()" href="javascript:void(0)">{{$ctrl.buttonText()}}</a>
            <a class="btn btn-xl btn-fauxLink floatR js-last-item" ng-click="$ctrl.close()" href="javascript:void(0)"><b>Cancel</b></a>
            <div class="clear"></div>
        </div>

    </div>
</form>
