<!-- before assigning -->
<a ng-if="$ctrl.customassignment == null || $ctrl.customassignment.custom_assignment_id == null" id="assignResourceButton"
    class="btn btn-pill btn-assign js-assign-resources"
    tabindex="0"
    ng-keydown="$ctrl.keyDown($event,$ctrl.assignResourcesAction);"
    ng-class="{'btn-xl': $ctrl.size=='xl', 'btn-lg': $ctrl.size=='lg', 'btn-sm': $ctrl.size=='sm', 'btn-sm': $ctrl.size=='xs'}"
    ng-click="$ctrl.assignResourcesAction()" href="#"
>
    <span aria-hidden="true" class="icon icon-planetC"></span>
    <ng-transclude>
        Assign Resources
    </ng-transclude>
</a>

<!-- after assigning -->
<div ng-if="$ctrl.customassignment != null && $ctrl.customassignment.custom_assignment_id != null" class="assignBtn assignBtn-assigned">
    <a  ng-click="$ctrl.assignResourcesAction()"
        tabindex="0"
        ng-keydown="$ctrl.keyDown($event,$ctrl.assignResourcesAction);"
        class="assignBtn_heading js-assign-resources" href="#">
        <span class="icon icon-ok"></span>
        <strong>Assigned</strong>
    </a>
    <a  ng-click="$ctrl.assignResourcesAction()"
        tabindex="0"
        ng-keydown="$ctrl.keyDown($event,$ctrl.assignResourcesAction);"
        href="javascript:void(0)">Edit</a>  |
    <a  ng-click="$ctrl.deleteAssignmentAction()"
        tabindex="0"
        ng-keydown="$ctrl.keyDown($event,$ctrl.deleteAssignmentAction);"
        href="javascript:void(0)">Unassign</a>
</div>
