<div class="checkboxCustom" ng-click="$ctrl.click($event)">
    <input tabindex="0" id="{{::$ctrl.checkboxId}}" type="checkbox" ng-model="$ctrl.checked" ng-disabled="$ctrl.disabled" role="checkbox" aria-checked="{{$ctrl.checked ? 'true' : 'false'}}">
    <label for="{{::$ctrl.checkboxId}}">
        <span class="checkboxCustom_box"></span>
        <span class="checkboxCustom_label ">
            <ng-transclude></ng-transclude>
        </span>
<!--         visually hidden label for use by screenreader software -->
        <span class="visuallyHidden">
            {{$ctrl.srlabel}}
        </span>
    </label>
</div>
