<div class="checkboxCustom"  ng-class="{'is-disabled' : $ctrl.isDisabled()}" ng-click="$event.stopPropagation()">
    <label>
        <input  ng-disabled="{{$ctrl.isDisabled()}}"
                name="students[{{::$ctrl.student.student_id}}]"
                role="checkbox"
                aria-checked="{{$ctrl.student.selected ? 'true' : 'false'}}"
                tabindex="0"
                value="{{::$ctrl.studentAccountIds}}"
                type="checkbox"
                ng-model="$ctrl.student.selected">
        <span class="checkboxCustom_box"></span>
        <span class="checkboxCustom_label">{{::$ctrl.student.student_name}}</span>
    </label>
    <tooltip ng-if="$ctrl.isDisabled() && $ctrl.reasonDisabled()">{{$ctrl.reasonDisabled()}}</tooltip>
</div>
