<div class="body-overlay" ng-click="$ctrl.close()"></div>
<div class="modalWindow">
    <div class="modalWindow_header">
        <h2>
            <button class="closeBtn" ng-click="$ctrl.close()">&times;</button>
            {{$ctrl.student.screenName}}
        </h2>
    </div>
    <div class="modalWindow_body">
        <form name="editStudent">
            <p>
                Screen Name: <input type="text" ng-model="$ctrl.formStudent.screenName" required ng-minlength="3"
                        ng-pattern="/^[a-zA-Z0-9]+$/"/>
            </p>
            <p>
                First Name: <input type="text" ng-model="$ctrl.formStudent.studentFirstName"
                        ng-pattern="/^[a-zA-Z0-9]+$/"/>
            </p>
            <p>
                Last Name: <input type="text" ng-model="$ctrl.formStudent.studentLastName"
                        ng-pattern="/^[a-zA-Z0-9]+$/"/>
            </p>
            <p>
                Password: <input type="text" ng-model="$ctrl.formStudent.passwordText" required ng-minlength="3"
                        ng-pattern="/^[a-zA-Z0-9]+$/"/>
            </p>
            <p>
                <button ng-disabled="!editStudent.$valid" ng-click="$ctrl.save()">
                    Save
                </button>
            </p>
        </form>
    </div>
</div>
