<div ng-show="$ctrl.pending" class="body-overlay body-overlay-white">
    <div class="loading_spinner" style="top: 40%;"></div>
</div>

<form novalidate name="$ctrl.newStudentForm">
    <table class="table-data table-full">
        <thead>
            <tr>
                <th>
                    <sort-header field="studentId" order-manager="::$ctrl.orderManager">Id</sort-header>
                </th>
                <th>
                    <sort-header field="screenName" order-manager="::$ctrl.orderManager">Screen Name</sort-header>
                    <help-popover>This is only visible to the student and the parent.</help-popover>
                </th>
                <th>
                    <sort-header field="studentFirstName" order-manager="::$ctrl.orderManager">First Name</sort-header>
                    <help-popover>This is only visible to the teacher in place of the username.</help-popover>
                </th>
                <th>
                    <sort-header field="studentLastName" order-manager="::$ctrl.orderManager">Last Name</sort-header>
                    <help-popover>This is only visible to the teacher in place of the username.</help-popover>
                </th>
                <th>
                    <sort-header field="passwordText" order-manager="::$ctrl.orderManager">Password Text</sort-header>
                    <help-popover>Assigning a password to a student protects his or her access to assignments and accumulated stars.</help-popover>
                </th>
                <th>
                    <sort-header field="addedAt" order-manager="::$ctrl.orderManager">Added At</sort-header>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentsCurrentPage">
            <td>{{student.studentId}}</td>
            <td>{{student.screenName}}</td>
            <td>{{student.studentFirstName}}</td>
            <td>{{student.studentLastName}}</td>
            <td>{{student.passwordText}}</td>
            <td>{{student.addedAt}}</td>
            <td>
                <a ng-click="$ctrl.editStudent(student)">
                    <span class="icon icon-pencil"></span>
                </a>
                <a ng-click="$ctrl.removeStudent(student)">
                    <span class="icon icon-remove"></span>
                </a>
            </td>

        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="text" ng-model="$ctrl.newStudent.screenName" required ng-minlength="3"
                        ng-pattern="$ctrl.alphaNumericPattern"/>
            </td>
            <td>
                <input type="text" ng-model="$ctrl.newStudent.studentFirstName" ng-pattern="$ctrl.alphaNumericPattern"/>
            </td>
            <td>
                <input type="text" ng-model="$ctrl.newStudent.studentLastName" ng-pattern="$ctrl.alphaNumericPattern"/>
            </td>
            <td>
                <input type="text" ng-model="$ctrl.newStudent.passwordText" required
                        ng-pattern="$ctrl.alphaNumericPattern" ng-minlength="3"/>
            </td>
            <td>
            </td>
            <td>
                <a ng-click="$ctrl.addStudent(student)" ng-disabled="!$ctrl.newStudentForm.$valid">
                    <span class="icon icon-plus"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <pager items="$ctrl.students | managedOrderBy:$ctrl.orderManager" items-per-page="10"
            on-page-changed="studentsCurrentPage = page"></pager>
</form>
