.help-modal {
    z-index: 200;
    background: #a4e7e0;
    margin: 0 auto;
    top: 20%;
    left: 20%;
    width: 600px;
    height: 400px;
    padding: 20px 20px 0px;
    border-radius: 25px;
    color: #54067F; 
    display: flex;
    position: absolute;
}

.modalColumn {
    float: left;
    padding: 10px;
  }
  
.left {
    width: 30%;
}
  
.right {
    width: 60%;
}
  
/* Clear floats after the columns */
.modalRow:after {
    content: "";
    display: table;
    clear: both;
}

#help-bubble {
    height: 125px;
    width: 125px;
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 20px;
}

#modal-mermaid {
    height: 220px;
    /* padding-left: 5%; */
}
