#title{
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.title2 {
    height: 75px;
    min-width: 400px;
    z-index: 60;
}
.meter2 {
    min-width: 350px;
    align-content: center;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 60;
}

.meter {
    height: 20px;
    width: 300px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
    border:3px solid white;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    overflow: hidden;
}

.orange > span {
    top: -52.5px;
    background-color: #f09b5b;
    width: 0%;
    transition: width 2s;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}
